[Unit]
Description=Home Assistant metrics service

[Service]
Type=simple
ExecStart=/usr/bin/ha-metrics -config /etc/ha-metrics/conf.toml
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target